{% extends 'base/base.html' %}
{% block body %}
{% load static %}
<style> tr,th,td {
    padding:10px;
}
p{
    width:40%;
}

</style>
<link rel="stylesheet" type="text/css" href="{% static '/admin/css/discuss.css' %}">

<div class="topnav">

            <a href="/home" style="margin-left: 20px;">Home</a>
            <a href="/discussion">Discussion</a>
            <a href="/about">About</a>
            <a href="/shop">Market</a>
    </div>
            <input type="button" class="logoutButton" name="logoutButton" value="Logout" onclick="myFunction()"/>

<center><h1>About Us</h1>
<p> we are the person with disabilty Phillipines. this website supports and empower our rights to promote
equal rights in every individual. peace, love and acceptance to our disability can provide great impact to our community  </p>

</center><br><br>
<hr>
<center><form class="form-inline"  action="create" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="firstname">Fullname</label>
        <input type="text" name="Fullname" class="form-control" style="width:30%;" required="required"/>&nbsp;&nbsp;
        <label for="lastname">Donation</label>
        <input type="text" name="donate" class="form-control" style="width:15%;" required="required"/>
        <button type="submit" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-plus"></span> Donate</button>
    </div>
</form>
<br />
<table class="table table-bordered">
    <thead class="alert-warning">
        <tr>
            <th>Full Name</th>
            <th>Donation</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for donators in donators %}
        <tr>
            <td>{{ donators.Fullname }}</td>
            <td>{{ donators.donate }}</td>
            <td><center><a class="warning" href="edit/{{ donators.id }}"><span class="edit"></span> Edit</a>&nbsp;&nbsp; <a class="btn-danger" href="delete/{{ donators.id }}"><span class="trash"></span> Delete</a></center></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
Thank You!
For supporting Us
</center>
{% endblock %}
