<!DOCTYPE html>
<html>
<head>
    <title>Pwd.org</title>
    <link rel="stylesheet" type="text/css" href="./src/css.css">
</head>

<body>
	<header>
        

        <div class="topnav">
            
            <a href="homepage.html">Home</a>              
            <a href="discussions.html">Discussion</a>     
            <a href="aboutus.html">About</a>             
            <a href="shop.html">Market</a>
           
        </div>
         <input type="button" class="logoutButton" name="logoutButton" value="Logout" onclick="myFunction()"/>
    </header>
    <hr>

        <div class="logo">` 
             <img src="./src/PWD_COVER.jpg" alt="PWD_COVER">   
        </div>
    
    <div class="container">
        <p>Setup your personal information</p>
        <input type="text" name="fullname" placeholder="Enter Your fullname"/>
        <input type="text" name="adddress" placeholder="Address" />
        <select id="disability" name="disability" placeholder="Type of Disability">
                <option selected disabled="">Type of Disability</option>
                <option>Psychosocial Disability</option>
                <option>Chronic Illness</option>
                <option>Learning Disability</option>
                <option>Mental Disability</option>
                <option>Visual Disability</option>
                <option>Orthopedic Disability</option>
                <option>Communication Disability</option>
        </select><br>
        <input type="text" name="age" placeholder="Age"/>
        <input type="text" name="mobileNumber" placeholder="Contact number"/>
        <input type="file" name=""></input>
        <p style="font-size: 12px;">Insert photo </p>
        <br>
        <input type="submit" name="submit" value="submit" />

    </div>
    <input type="button" class="logoutButton" name="logoutButton"/>
        
        
    
    
</body>
<script>
function myFunction(){
        window.location.href="login.html";
}
</script>
</html>