<!DOCTYPE html>

<html>

<head>
    {% load static %}
    <title>Pwd.org</title>
    <link rel="stylesheet" type="text/css" href="{% static '/admin/css/css.css' %}">
</head>
<body>

    <header>


        <div class="topnav">

            <a href="/home">Home</a>
            <a href="/discussion">Discussion</a>
            <a href="/about">About</a>
            <a href="/shop">Market</a>

        </div>
         <input type="button" class="logoutButton" name="logoutButton" value="Logout" onclick="myFunction()"/>
    </header>
    <hr>
    <h3>Set up personal info</h3>

        <div class="logo">`
             <img src="{% static '/admin/img/PWD_COVER.jpg' %}" alt="PWD_COVER">
        </div>


    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}

        <input type="submit" value="Submit"/>


    </form>




</body>
<script>
function myFunction(){
        window.location.href="/login";
}
</script>
</html>