<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registered Applicants</title>
</head>
<style>
table, td, th{
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
<body style="background-color:white;">
<center><h1 style="color:black";>LIST OF APPLICANTS</h1></center>
<center><table style="width:80%">
  <tr>
 
    <th>Name</th>
    <th>Disability</th>
    <th>Adress</th>
    <th>Age</th>
    <th>Number</th>
    <th>Email</th>
    <th>Date</th>
    </tr>
<div class="dem">
	{% for dem in dem %}
	<div class="dem">

    <tr>
    <td>{{ forloop.counter }}:{{ dem.name }}</td>
    <td style="text-align: center;">{{ dem.disability }}</td>
    <td style="text-align: center;">{{ dem.address }}</td>
    <td style="text-align: center;">{{ dem.age}}</td>
    <td style="text-align: center;">{{ dem.Cnum }}</td>
    <td style="text-align: center;">{{ dem.email }}</td>
    <td style="text-align: center;">{{ dem.date }}</td>
  </tr>
    
	{% endfor %}
    </div>
	</table></center>
</body>
</html>
